<a href="https://colab.research.google.com/github/nestorsgarzonc/LISI_VocalesCNN/blob/master/Datos/Selecci%C3%B3n_Common_Voice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Librerías

In [ ]:
import pandas as pd
import numpy as np

##Lectura de datos

In [ ]:
df = pd.read_csv('dev.tsv',sep='\t',header=0)
dfPre = df.drop(['client_id'], axis=1)

In [ ]:
def ContadorVocalA(cadena):
  ocurrencias1 = cadena.count('a')
  ocurrencias2 = cadena.count('á')
  ocurrencias3 = cadena.count('A')
  ocurrencias4 = cadena.count('Á')
  return int(ocurrencias1 + ocurrencias2 + ocurrencias3 + ocurrencias4)

def ContadorVocalE(cadena):
  ocurrencias1 = cadena.count('e')
  ocurrencias2 = cadena.count('é')
  ocurrencias3 = cadena.count('E')
  ocurrencias4 = cadena.count('É')
  return int(ocurrencias1 + ocurrencias2 + ocurrencias3 + ocurrencias4)

def ContadorVocalI(cadena):
  ocurrencias1 = cadena.count('i')
  ocurrencias2 = cadena.count('í')
  ocurrencias3 = cadena.count('I')
  ocurrencias4 = cadena.count('Í')
  return int(ocurrencias1 + ocurrencias2 + ocurrencias3 + ocurrencias4)

def ContadorVocalO(cadena):
  ocurrencias1 = cadena.count('o')
  ocurrencias2 = cadena.count('ó')
  ocurrencias3 = cadena.count('O')
  ocurrencias4 = cadena.count('Ó')
  return int(ocurrencias1 + ocurrencias2 + ocurrencias3 + ocurrencias4)

def ContadorVocalU(cadena):
  ocurrencias1 = cadena.count('u')
  ocurrencias2 = cadena.count('ú')
  ocurrencias3 = cadena.count('U')
  ocurrencias4 = cadena.count('Ú')
  return int(ocurrencias1 + ocurrencias2 + ocurrencias3 + ocurrencias4)

#Preprocesamiento

In [ ]:
dfPre#.head()

                               path  ...               accent
0      common_voice_es_19746113.mp3  ...                  NaN
1      common_voice_es_19746114.mp3  ...                  NaN
2      common_voice_es_19746115.mp3  ...                  NaN
3      common_voice_es_19746116.mp3  ...                  NaN
4      common_voice_es_19746117.mp3  ...                  NaN
...                             ...  ...                  ...
13216  common_voice_es_18310103.mp3  ...                  NaN
13217  common_voice_es_18310105.mp3  ...                  NaN
13218  common_voice_es_18310110.mp3  ...                  NaN
13219  common_voice_es_18310112.mp3  ...                  NaN
13220  common_voice_es_18370974.mp3  ...  centrosurpeninsular

[13221 rows x 7 columns]

In [ ]:
#Resumen: repeticiones de distintos valores presentes en la columna 'up_votes'
dfPre['up_votes'].value_counts(dropna=False)

2    12654
3      544
4       23
Name: up_votes, dtype: int64

In [ ]:
dfPre['accent'].value_counts(dropna=False)

NaN                    10608
mexicano                 704
andino                   417
rioplatense              321
nortepeninsular          228
americacentral           215
centrosurpeninsular      201
chileno                  196
caribe                   192
surpeninsular            112
canario                   27
Name: accent, dtype: int64

In [ ]:
#Filtros: audios sin votos en contra y con mayor votación (3 o 4 votos a favor)
dfPreFil = dfPre[(dfPre['down_votes']==0)&(dfPre['up_votes']>=3)]

dfPreFil.head()

                             path  ... accent
24   common_voice_es_19613838.mp3  ...    NaN
123  common_voice_es_19711369.mp3  ...    NaN
152  common_voice_es_19637716.mp3  ...    NaN
164  common_voice_es_18334123.mp3  ...    NaN
180  common_voice_es_19745846.mp3  ...    NaN

[5 rows x 7 columns]

In [ ]:
dfPreFil['accent'].value_counts(dropna=False)

NaN                    333
mexicano                25
andino                  10
rioplatense              9
caribe                   6
centrosurpeninsular      5
americacentral           4
nortepeninsular          4
surpeninsular            3
chileno                  2
canario                  1
Name: accent, dtype: int64

#Procesamiento

In [ ]:
dfVocales = pd.DataFrame()

dfVocales['Audio'] = dfPreFil['path']
#dfVocales['Oracion'] = dfPreFil['sentence']

dfVocales

                              Audio
24     common_voice_es_19613838.mp3
123    common_voice_es_19711369.mp3
152    common_voice_es_19637716.mp3
164    common_voice_es_18334123.mp3
180    common_voice_es_19745846.mp3
...                             ...
13148  common_voice_es_19656967.mp3
13216  common_voice_es_18310103.mp3
13217  common_voice_es_18310105.mp3
13218  common_voice_es_18310110.mp3
13219  common_voice_es_18310112.mp3

[402 rows x 1 columns]

In [ ]:
dfVocales['I'] = dfPreFil['sentence'].apply(lambda x: ContadorVocalI(x))
dfVocales['E'] = dfPreFil['sentence'].apply(lambda x: ContadorVocalE(x))
dfVocales['A'] = dfPreFil['sentence'].apply(lambda x: ContadorVocalA(x))
dfVocales['O'] = dfPreFil['sentence'].apply(lambda x: ContadorVocalO(x))
dfVocales['U'] = dfPreFil['sentence'].apply(lambda x: ContadorVocalU(x))

dfVocales

                              Audio  I  E   A  O  U
24     common_voice_es_19613838.mp3  2  6   5  6  3
123    common_voice_es_19711369.mp3  3  2   4  1  1
152    common_voice_es_19637716.mp3  4  2   5  7  3
164    common_voice_es_18334123.mp3  1  0   3  3  0
180    common_voice_es_19745846.mp3  3  8   1  8  4
...                             ... .. ..  .. .. ..
13148  common_voice_es_19656967.mp3  2  5   1  1  4
13216  common_voice_es_18310103.mp3  3  2  11  3  3
13217  common_voice_es_18310105.mp3  1  5   6  4  0
13218  common_voice_es_18310110.mp3  1  1   4  6  0
13219  common_voice_es_18310112.mp3  1  1   5  3  0

[402 rows x 6 columns]

In [ ]:
print('Total íes (i):', dfVocales['I'].sum())
print('Total es (e):', dfVocales['E'].sum())
print('Total aes (a):', dfVocales['A'].sum())
print('Total oes (o):', dfVocales['O'].sum())
print('Total úes (u):', dfVocales['U'].sum())

Total íes (i): 1294
Total es (e): 2442
Total aes (a): 2290
Total oes (o): 1727
Total úes (u): 782

##Vocal /i/

In [ ]:
#Resumen vocales i
dfVocales['I'].value_counts()

vocalI = dfVocales.nlargest(50, 'I', keep='all') #ordenar de mayor a menor, incluyendo los valores repetidos
vocalI

#list(vocalI['Audio'])
#list(vocalI['I'])

##Vocal /e/

In [ ]:
#Resumen vocales e
dfVocales['E'].value_counts()

vocalE = dfVocales.nlargest(50, 'E', keep='all')
vocalE

#list(vocalE['Audio'])
#list(vocalE['E'])

##Vocal /a/

In [ ]:
#Resumen vocales a
dfVocales['A'].value_counts()

vocalA = dfVocales.nlargest(50, 'A', keep='all')
vocalA

#list(vocalA['Audio'])
#list(vocalA['A'])

##Vocal /o/

In [ ]:
#Resumen vocales o
dfVocales['O'].value_counts()

vocalO = dfVocales.nlargest(50, 'O', keep='all')
vocalO

#list(vocalO['Audio'])
#list(vocalO['O'])

##Vocal /u/

In [ ]:
#Resumen vocales u
dfVocales['U'].value_counts()

vocalU = dfVocales.nlargest(70, 'U', keep='all')
vocalU

#list(vocalU['Audio'])
#list(vocalU['U'])

#Miscelanea

https://towardsdatascience.com/top-3-pandas-functions-for-beginners-36373ee47075

https://towardsdatascience.com/3-pandas-functions-you-should-be-using-more-often-696b41e8d7ca

https://towardsdatascience.com/top-3-pandas-functions-you-dont-know-about-probably-5ae9e1c964c8

Selección de frases con mayor número de vocales

In [ ]:
vocalU[:2] #selección de los dos primeros renglones

In [ ]:
vocalU[2:5] #selección de los dos primeros renglones